
@media only screen and (min-width: 350px) and (max-width: 1300px) { 
    
    .contenedor-netflix
    {width: 90%;
    margin: auto;
    margin-top: 5%;}
    
    .peliculas-recomendadas {
      margin-bottom: 70px;
    }
    
    .peliculas-recomendadas .contenedor-principal {
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha { 
      position: absolute;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      font-size: 40px;
      height: 50%;
      top: calc(50% - 25%);
      line-height: 40px;
      width: 50px;
      color: white;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
    
    } 
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda-2,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-2 { 
      position: absolute;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      font-size: 40px;
      height: 50%;
      top: calc(50% - 25%);
      line-height: 40px;
      width: 50px;
      color: white;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
    
    } 
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda-3,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-3 { 
      position: absolute;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      font-size: 40px;
      height: 50%;
      top: calc(50% - 25%);
      line-height: 40px;
      width: 50px;
      color: white;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
    
    } 
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda{ 
      left: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-derecha{ 
      right: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda-2{ 
      left: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-2{ 
      right: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda-3{ 
      left: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-3{ 
      right: 0;
    }



    /* ---- ----- ----- Carousel ----- ----- ----- */
    
    .contenedor-carrusel5 {
      width: 100%;
      padding: 20px 0;
      overflow: hidden;
      scroll-behavior: smooth;
      
    }
    
     .contenedor-carrusel5 .carrusel5 {
      display: flex;
      flex-wrap: nowrap;
     }
    
     .contenedor-carrusel6 {
      width: 100%;
      padding: 20px 0;
      overflow: hidden;
      scroll-behavior: smooth;
      
    }
    
     .contenedor-carrusel6 .carrusel6 {
      display: flex;
      flex-wrap: nowrap;
     }
    
     .contenedor-carrusel7 {
      width: 100%;
      padding: 20px 0;
      overflow: hidden;
      scroll-behavior: smooth;
     
    }
    
     .contenedor-carrusel7 .carrusel7 {
      display: flex;
      flex-wrap: nowrap;
     }
    
     .peliculas-recomendadas .contenedor-carrusel5 .carrusel5 .ejercicios-foto img {
        width: 100%;
        vertical-align: top;
    }
    
    .ejercicios-foto {
      min-width: 25%;
      transition: .3s ease all;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    
    }
    
    .ejercicios-foto-2 {
      min-width: 25%;
      transition: .3s ease all;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    
    }
    
    .ejercicios-foto-3 {
      min-width: 25%;
      transition: .3s ease all;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    
    }
    
    .ejercicios-foto.hover {
      transform: scale(1.2);
      transform-origin: center;
    } 
    .ejercicios-foto img { 
      width: 100%;
      vertical-align: top;
     }
     .ejercicios-foto-2.hover {
      transform: scale(1.2);
      transform-origin: center;
    } 
    .ejercicios-foto-2 img { 
      width: 100%;
      vertical-align: top;
     }
     .ejercicios-foto-3.hover {
      transform: scale(1.2);
      transform-origin: center;
    } 
    .ejercicios-foto-3 img { 
      width: 100%;
      vertical-align: top;
     }
    
    
    
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha:hover { 
    background: rgba(0, 0, 0, 0.9) ;
     }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda-2:hover,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-2:hover { 
    background: rgba(0, 0, 0, 0.9) ;
     }
    
     .peliculas-recomendadas .contenedor-principal .flecha-izquierda-3:hover,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha-3:hover { 
    background: rgba(0, 0, 0, 0.9) ;
     }
    
     .contenedor-titulo-controles {
      display: flex;
      justify-content: space-between;
      align-items: end;
     }
    
     .contenedor-titulo-controles h3 {
      color: black;
      font-size: 30px;
    
    }
    
    .contenedor-titulo-controles .indicadores button
    { 
    background: black;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
     }
    
     .contenedor-titulo-controles .indicadores-2 button
     { 
     background: black;
     height: 3px;
     width: 10px;
     cursor: pointer;
     border: none;
     margin-right: 2px;
      }
     
      .contenedor-titulo-controles .indicadores-3 button
      { 
      background: black;
      height: 3px;
      width: 10px;
      cursor: pointer;
      border: none;
      margin-right: 2px;
       }
    
     
    
     .contenedor-titulo-controles .indicadores button:hover,
     .contenedor-titulo-controles .indicadores button.activo
    {background: red}
    
    .contenedor-titulo-controles .indicadores-2 button:hover,
    .contenedor-titulo-controles .indicadores-2 button.activo
    {background: red}
    
    .contenedor-titulo-controles .indicadores-3 button:hover,
    .contenedor-titulo-controles .indicadores-3 button.activo
    {background: red}
    
    
    
    
    @media only screen and  (max-width: 800px) {
     .peliculas-recomendadas .contenedor-principal .contenedor-carrusel5
    {overflow: visible; }
    
    .contenedor-carrusel5 .carrusel5{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    
    .peliculas-recomendadas .contenedor-principal .contenedor-carrusel6
    {overflow: visible; }
    
    .contenedor-carrusel6 .carrusel6{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    
    .peliculas-recomendadas .contenedor-principal .contenedor-carrusel7
    {overflow: visible; }
    
    .contenedor-carrusel7 .carrusel7{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    }
    
     }