


@import '_grids.scss';

@import '_fonts.scss';



$color-fondo: hsl(41, 69%, 82%);

  
header {
  width: 100%;
  
}

body {
  background-color: $color-fondo;
  height: 100%;
 }


footer {
  height: 100%;
}

.accordion {
  .accordion-button {
    background-color: $color-fondo;
    border: 3px solid #f3d0bc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 70%;
  }

  .accordion-item {
    margin-bottom: 2%;
    margin-top: 5%;
  }
}

.card {
  background-color: $color-fondo ;
  margin-left: 2%;
  margin-bottom: 2%;
}

#ejercicios-color{
  background-color: white;
} 


@media only screen and (min-width: 350px) and (max-width: 1300px) { 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
 }

  .mb-3
  {width: 50%;}

.contenedor-netflix
{width: 90%;
margin: auto;
margin-top: 5%;}

.peliculas-recomendadas {
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
display: flex;
align-items: center;
position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha { 
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;

} 

.peliculas-recomendadas .contenedor-principal .flecha-izquierda-2,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-2 { 
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;

} 

.peliculas-recomendadas .contenedor-principal .flecha-izquierda-3,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-3 { 
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;

} 

.peliculas-recomendadas .contenedor-principal .flecha-izquierda{ 
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha{ 
  right: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda-2{ 
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha-2{ 
  right: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda-3{ 
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha-3{ 
  right: 0;
}

.contenedor-carrusel5 {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

 .contenedor-carrusel5 .carrusel5 {
  display: flex;

 }

 .contenedor-carrusel6 {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

 .contenedor-carrusel6 .carrusel6 {
  display: flex;

 }

 .contenedor-carrusel7 {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

 .contenedor-carrusel7 .carrusel7 {
  display: flex;

 }

.ejercicios-foto {
  min-width: 25%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

}

.ejercicios-foto-2 {
  min-width: 25%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

}

.ejercicios-foto-3 {
  min-width: 25%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

}

.ejercicios-foto.hover {
  transform: scale(1.2);
  transform-origin: center;
} 
.ejercicios-foto img { 
  width: 100%;
  vertical-align: top;
 }
 .ejercicios-foto-2.hover {
  transform: scale(1.2);
  transform-origin: center;
} 
.ejercicios-foto-2 img { 
  width: 100%;
  vertical-align: top;
 }
 .ejercicios-foto-3.hover {
  transform: scale(1.2);
  transform-origin: center;
} 
.ejercicios-foto-3 img { 
  width: 100%;
  vertical-align: top;
 }




.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover { 
background: rgba(0, 0, 0, 0.9) ;
 }

.peliculas-recomendadas .contenedor-principal .flecha-izquierda-2:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-2:hover { 
background: rgba(0, 0, 0, 0.9) ;
 }

 .peliculas-recomendadas .contenedor-principal .flecha-izquierda-3:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-3:hover { 
background: rgba(0, 0, 0, 0.9) ;
 }

 .contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
 }

 .contenedor-titulo-controles h3 {
  color: black;
  font-size: 30px;

}

.contenedor-titulo-controles .indicadores button
{ 
background: black;
height: 3px;
width: 10px;
cursor: pointer;
border: none;
margin-right: 2px;
 }

 .contenedor-titulo-controles .indicadores-2 button
 { 
 background: black;
 height: 3px;
 width: 10px;
 cursor: pointer;
 border: none;
 margin-right: 2px;
  }
 
  .contenedor-titulo-controles .indicadores-3 button
  { 
  background: black;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
   }

 

 .contenedor-titulo-controles .indicadores button:hover,
 .contenedor-titulo-controles .indicadores button.activo
{background: red}

.contenedor-titulo-controles .indicadores-2 button:hover,
.contenedor-titulo-controles .indicadores-2 button.activo
{background: red}

.contenedor-titulo-controles .indicadores-3 button:hover,
.contenedor-titulo-controles .indicadores-3 button.activo
{background: red}

.modal-content.bg-transparent {
  background-color: rgba(235, 10, 10, 0.1); /* Ajusta el valor alpha según sea necesario para la opacidad deseada */
  border: none; /* Opcional: elimina el borde si no lo deseas */
}

@media only screen and  (max-width: 800px) {
 .peliculas-recomendadas .contenedor-principal .contenedor-carrusel5
{overflow: visible; }

.contenedor-carrusel5 .carrusel5{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.peliculas-recomendadas .contenedor-principal .contenedor-carrusel6
{overflow: visible; }

.contenedor-carrusel6 .carrusel6{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.peliculas-recomendadas .contenedor-principal .contenedor-carrusel7
{overflow: visible; }

.contenedor-carrusel7 .carrusel7{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
}

